/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body{
    background: linear-gradient(rgb(248, 242, 242), rgb(255, 175, 71));
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    font-family: cursive;
}

span{
    font-size: 2rem;
}

button{
    background: #000;
    color: #fff;
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 20px;
}

button:hover{
    background-color:tomato;
    transition: 0.7s;
}